
<header>
  <nav id="top" class="navbar navbar-default navbar-fixed-top " [ngClass]="{scrolledNavbar : scrollPos === true}">
    <div class="container">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand navbar-link" (click)="scroll(0,0)" >
        <span class="whiteText" >AEINNE.com(beta) |</span>
      </a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" (click)="scroll(0,0)" ><span class="fa fa-home fa-lg"></span></a>
          </li>

          <!-- =====     ABOUT US     ====== -->

          <li class="dropdown" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="parent-route" routerLink="/how-it-works" (click)="scroll(0,0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
              data-delay="0" data-close-others="false">
            Product</a>
            <ul class="dropdown-menu">
              <li><a class="cursor" (click)="scrollToElement('discover','/how-it-works')">Discover</a></li>
              <li><a class="cursor"  (click)="scrollToElement('evaluate','/how-it-works')">Evaluate</a></li>
            </ul>
          </li>

          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/shariya-investment" (click)="scroll(0,0)">Sharia Investment</a></li>
          <!-- =====     HOW IT WORKS     ====== -->

          <li class="dropdown" role="presentation" routerLinkActive="active">
            <a routerLink="/about-us" (click)="scroll(0,0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0"
              data-close-others="false">
            Company</a>
            <ul class="dropdown-menu">
               <li><a class="cursor" (click)="scrollToElement('vision','/about-us')" pageScroll pageScrollSpeed="1500">Vision</a></li>
            <li><a class="cursor" (click)="scrollToElement('vision','/about-us')" pageScroll pageScrollSpeed="1500">Solution</a></li>
              <li><a class="cursor" (click)="scrollToElement('vision','/about-us')" pageScroll pageScrollSpeed="1500">Services</a></li>



            </ul>
          </li>
        </ul>
       <!-- sign in login will be added later
         <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a>Sign-up</a></li>
          <li role="presentation"><a>Log in</a></li>
        </ul> -->
      </div>
    </div>
  </nav>
</header>