.navbar-default{
    background: white;
    border: none;
    box-shadow: none;
    font-family: 'Century Gothic','Verdana';
    font-size: 1.1em;
    -webkit-transition: background 0.5s, box-shadow 0.5s,padding 0.5s; /* Safari */
    transition: background 0.5s, box-shadow0.5s,padding 0.5s;
   
}

.navbar ul{
    padding:0px
}
.navbar a{
    color:#000000;
    padding:15px     
}
.dropdown-menu li a:hover{
     background:#dcedcb;
     color:black
}
.navbar a:focus{color:black;}
.nav a:hover{
    background: #dcedcb;
    color:black
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #72A716;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #dcedcb
}
.navbar-default .navbar-nav>.open>a{
    background-color:#dcedcb
}

.scrolledNavbar{
    background: white;
    box-shadow: 1px 2px 12px rgba(0,0,0,0.4);
     
}
ul.nav li:active{
    color:green
}

a.dropdown-toggl:hover ul.dropdown-men{display:block}
@media screen and (max-width: 768px)
{
    .navbar-default{
    background: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);;
    font-family: 'Century Gothic','Verdana';
    font-size: 1.1em
}
}