<footer>
  <div class="container-fluid footerOuter primary-dark">
    <div class="container">
      <div class="row" style="padding-top:50px;padding-bottom:100px;border-bottom: 1px solid #435916">
        <div class="col-md-5 greenBorder" style="padding-bottom:10px">
          <h3 class="text-dull">Disclaimer</h3>
          <p class="text-dull">
            It is just an advisory tool to facilitate Sharia compliant investment and we bear no responsibility
            for the information available on the website.
          </p>
          <br>
        </div>
        <div class="col-md-7 " style="padding-bottom:10px">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h3 class="text-dull" style="padding-bottom:5px;border-bottom: 2px solid #435916">
                  Product
                </h3>
                <ul class="noBullet text-dull">
                  <li><a class="cursor" (click)="scrollToElement('discover','/how-it-works')" >Discover</a></li>
                  <li><a class="cursor"  (click)="scrollToElement('evaluate','/how-it-works')">Evaluate</a></li>
                </ul>
              </div>
              <div class="col-md-4 ">
                <h3 class="text-dull" style="padding-bottom:5px;border-bottom: 2px solid #435916">
                  Company
                </h3>
                <ul class="noBullet ">
                  <li><a>Vision</a></li>
                  <li><a>Solution</a></li>
                  <li><a>Services</a></li>

                </ul>
              </div>
              <div class="col-md-4">
                <h3 class="text-dull" style="padding-bottom:5px;border-bottom: 2px solid #435916">
                  Social links
                </h3>
                <ul class="noBullet">
                  <li><a>Twitter</a></li>
                  <li><a>Facebook</a></li>
                  <li><a>LinkedIn</a></li>
                  <li><a>Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 style="color: black">&copy;2017 AEINNE.com.All rights reserved</h5>
  </div>
</footer>