.footerOuter{
 padding: 0px;
 text-align: center;
 min-height:400px;
    
}
.greenBorder{

   
    
}
.footHeading{
    display: inline-block
}

ul.noBullet{
    list-style: none;
    padding: 0px
}
ul.noBullet li a,ul.noBullet li a:hover{
    text-decoration: none
}
ul.noBullet li a{
    color:#535353
}
