<div *ngIf="!company.status;then showCompanyFound">
</div>
<ng-template #showCompanyFound>
  <div class="container">
    <div class="row">
      <!--   PANEL LEFT  -->
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panelHeading text-center">{{company.company_name.toUpperCase()}}</h4>
          </div>
          <div class="panel-body">
            <span style="color:#7fc31b" *ngIf="company.iscompliant=== 'yes';else showNotCompliant">
              <h4 class="text-center">
                <span class="fa fa-check color-success" style="margin-right:10px"></span> Company is sharia compliant</h4>
            </span>

            <!-- IN CASE OF NON COMPLIANT  -->
            <ng-template #showNotCompliant>
              <div *ngIf="company.nComPar[0] === 'Industry not compliant';else otherMatrices">
                <h4 class="text-center">
                  <span class="glyphicon glyphicon-remove">
                  </span> Company not sharia compliant because of
                  <strong stye="font-size:1.5em">business
                  </strong> type</h4>
              </div>
              <ng-template #otherMatrices>
                <h4 class="text-center">
                  <span class="glyphicon glyphicon-remove">
                  </span> Company is not Sharia compliant because of
                  <strong class="text-danger">Financial</strong> structuring</h4>

                <!-- Know More panel -->
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title text-center">
                        <a data-toggle="collapse" href="#collapse1">Know more</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" style="margin-top:30px;margin-bottom:30px">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of company.nComPar ">{{item}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
      <!--=========      GOOGLE FINANCE PANEL  ==============-->
      <!--   THIS SECTION IS ONLY DISPLAYED WHEN GOOGLE FINANCE DATA EXISTS
        IN RESPONSE FROM BACKEND AND COMPANY IS COMPLIANT -->
      <div *ngIf="company.googlefinance && company.iscompliant === 'yes'" class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top:20px">
        <div class="panel panel-default">
          <div class="panel-heading orangePanelHeading">
            <h4 class="panelHeading text-center">BSE:{{company.bse}}</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-2"  style="margin-bottom:30px"  >
              <p style="font-size:2.2em;font-weight:bold;margin:0px">{{company.googlefinance.gooDataTopLeftOne}}</p>
              <p style="font-size:1.2em;font-weight:bold;color:rgb(136, 15, 15);margin:0px">{{company.googlefinance.gooDataTopLeftTwo}}</p>
            </div>
            <div class="col-md-6" style="padding-left:30px" >
              <div class="col-md-7" style="padding:0px;margin-bottom:30px">
              <p style="padding:0px;margin:0px;font-size:0.9em" *ngFor="let item of company.googlefinance.tableOne">{{item}}</p>
            </div>
              <div class="col-md-5" style="padding:0px;margin-bottom:30px">
              <p style="padding:0px;margin:0px;font-size:0.9em" *ngFor="let item of company.googlefinance.tableTwo">{{item}}</p>              
              </div>
            </div>
            <div class="col-md-4" style="margin-bottom:30px">
              <p style="padding:0px;margin:0px;font-size:0.9em" *ngFor="let item of company.googlefinance.gooFinArray">{{item}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--  NO COMPANY FOUND -->
<div *ngIf="company.status;then noCompanyFound"></div>
<ng-template #noCompanyFound>
  <div class="container text-center text-black">
    <div class="col-md-8 col-md-offset-2">
      <div class="well well-sucess" style="background: #eee">
        <h2>{{company.status}}</h2>
      </div>
    </div>
  </div>
</ng-template>