#myCarousel{
    height:300px;
    margin-top:100px;
    background-image:url('resources/carousel-bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.wrapper-content{
    height: 400px
}

.carousel-control {
    background: rgba(0,0,0,0)
  }
  
  .carousel-control:hover {
    background: rgba(0,0,0,0)
   
  }
  .carousel-row{
    margin: 100px auto;
    padding:0px 200px
  }
  .carousel-row h4{
    font-size: 40px;
    font-weight:bold;
    text-align:right
  
  }
  .carousel-row h6{
    font-size: 25px;
    
  }
  @media screen and (max-width: 769px){

    .carousel-row{
        margin: 20px auto;
        padding:25px;
      }
  }