<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active" >
      <div class="container " >
        <div class="row carousel-row">
          <div class="col-xs-12 col-md-5 text-center">
            <h4>Simple</h4>
          </div>
          <div class="col-xs-12 col-md-7">
            <h6>Just type the company name in the search box, and get immediate results.
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row carousel-row">
          <div class="col-xs-12 col-md-5 text-center">
            <h4>Data driven</h4>
          </div>
          <div class="col-xs-12 col-md-7">
            <h6>In analytics, the system is centered at data. No result can be accurate if data is inconsistent.
              Our algorithms work impeccably when it comes to data aquisition & accuracy.
            </h6>
          </div>
        </div>
      </div>

    </div>

    <div class="item">
      <div class="container ">
        <div class="row carousel-row">
          <div class="col-xs-12 col-md-5 text-center">
            <h4>Free of cost</h4>
          </div>
          <div class="col-xs-12 col-md-7">
            <h6> It feels great when you get something you have been longing for without any cost.
                 This is exactly what we offer.We charge nothing of our services.
                Just your visit is everything to us.

            </h6>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" style="color:black"></span>
      <span class="sr-only">Previous</span>
    </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" style="color:black"></span>
      <span class="sr-only">Next</span>
    </a>
</div>