<div class="container-fluid sh-in-banner">
  <div class="animated fadeIn onload" style="margin-top:120px">
    <h1 class="text-center text-black"><span style="font-size:1.5em">DOUBTFULL</span> ABOUT YOUR INVESTMENTS ?
    </h1>
    <h1 class="text-center text-white">AT AEINNE.com YOU GET THE CHANCE</h1>
    <h1 class="text-center text-white">TO EVALUATE THE <span class="text-black" style="font-size:1.5em">COMPLIANCE</span></h1>
    <h1 class="text-center text-white">BEFORE YOU INVEST.</h1>
  </div>
</div>

<!-- LEFT -->
<div class="container-fluid why-ctnr">
  <div class="row why-row">
    <div class="col-md-6  why-content text-center" style="border: 10px solid #dcedcb;">
      <div class="animated fadeIn">
        <h1 class="no-margin-h ">THE HARD PART</h1>
        <hr>
        <h3 class="no-margin-h">The conventional way to monitor whether your investments are inline with the sharia principles was a pain.</h3>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="col-md-6  why-image animated slideInLeft" style="border: 10px solid white;">
      <img class="img-responsive" style="max-width:200px;margin:auto" src="../assets/why-hard-part-m.png">
    </div>
  </div>
</div>




<div class="container-fluid why-ctnr">
  <div class="row why-row">
    <div class="col-md-6  why-content text-center" style="border: 10px solid white;">
      <img class="img-responsive" style="max-width:200px;margin:auto" src="../assets/need.png">
    </div>
    <!-- RIGHT -->
    <div class="col-md-6  why-image text-center" style="border: 10px solid #dcedcb;">
      <h1 class="no-margin-h">THE NEED</h1>
      <hr>
      <h3 class="no-margin-h">Technology has every solution.
      </h3>
      <h3 class="no-margin-h">It was never too late to realize the need of an intelligent system that could make the tough task easy.
      </h3>
    </div>
  </div>
</div>

<!-- CENTER -->

<div class="container-fluid center-wrapper">
  <div class="row center-row">
    <div class="col-md-5 center-col-left">
      <img class="img-responsive ethics-img" src="assets/sharia_investment/ethics.jpg">
      <div class="center-inner-absolute text-white">
        <h1 class=" no-margin-h">STRONG & IMPECCABLE</h1>
        <h2 class="text-black">We believe that the Islamic sharia principles offer a strong and adequate framework for evaluating the ethical considerations
          of investing</h2>
      </div>
    </div>
    <div class="col-md-7 center-col-right">
      <h2> Sharia Principles promote an investment paradigm based on the fundamentals of justice and fairness resulting in promotion
        of businesses with ethical, social and environmental responsibility and accountability.</h2>
    </div>

    <div class="col-xs-12 col-md-6 col-md-offset-3  text-center" style="margin-top:100px;position:relative">
      <img src="assets/sharia_investment/left_quote.png" style="height:50px;position:absolute;left:-60px;top:20px">
      <hr>
      <h1>Thats why Aeinne.com provides financial advisory on how to align your investments with your ethical principles.</h1>
      <hr>
      <img src="assets/sharia_investment/right_quote.png" style="height:50px;position:absolute;right:100px;bottom:20px">
    </div>
  </div>
</div>



<div class="container-fluid squares-wrapper" style="margin:100px 0px 100px 0px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1 style="font-size:4em;padding-bottom:20px;border-bottom:5px solid #dcedcb">PRESENT SITUATION</h1>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <img class="img-responsive" style="max-height:700px;margin:auto" src="assets/sharia_investment/squares.jpg">
    </div>
  </div>
</div>
<div class="container">
  <hr style="border-bottom:3px solid #dcedcb">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" style="max-height:600px" src="assets/sharia_investment/paradigm.png">

    </div>
    <div class="col-md-4" style="background:white">
      <div style="background:white;margin:150px 0px 150px 0px;border-left:5px solid #dcedcb;padding-left:20px">
        <div class="animated slideInLeft" style="z-index:-5;">
          <h3><span style="font-size:2.5em">However,</span> validating for sharia compliance is difficult. The breakneck speed
            at which the businesses transact, the globalised nature of capital and the disaggregation of supply chains have
            made these static lists ineffective.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <hr style="border-bottom:3px solid #dcedcb">
</div>


<div class="container text-center text-black" style="margin-top:200px;margin-bottom:200px">
  <div class="col-md-3">
    <img class="img-responsive" style="max-height:150px;margin:auto" src="assets/sharia_investment/leaf-left.png">
  </div>
  <div class="col-md-6 ">
    <h1 style="font-size:4em;padding-bottom:20px;border-bottom:5px solid #dcedcb">THE SOLUTION</h1>
  </div>
  <div class="col-md-3">
    <img class="img-responsive" style="max-height:150px;margin:auto" src="assets/sharia_investment/leaf-right.png">
  </div>
</div>

<div class="container-fluid solution-div text-center text-white">
  <div class="col-md-8 col-md-offset-2" style="margin-top:50px">
    <h1 style="font-size:2.5em;font-weight:bold"><span style="font-size:2em">AEINNE.com</span> resolves this by providing a financial advisory evaluation tool that validates
      sharia compliance in real time.
    </h1>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2" style="margin-top:100px ">
    <h2><strong>INSIGHT</strong></h2>
    <p style="font-size:1.2em">Our vision is to bring financial inclusion to all parts of the populations, and here we think Islamic banking/ESG can
      play a big role in addressing the unserved populations across the globe.We want to bring transparency and democratization
      in the field through the use of technology.Being really optimistic about fin-tech in Islamic banking, we believe that
      all the disruption that is happening in conventional banking, be it payment processes, lending or crowd funding etc.
      will also happen in the Islamic banking/ESG. Some developments are showing up, but growth and adoptions are slower
      compared to conventional banking.</p>

    <p style="font-size:1.2em">Our financial services tool uses advanced real time data nanlytics, machine learning and Artificial intelligence, undergirded
      by the fundamentals of Shariah Investment paradigm to provide a real time , dynamic and effective way to validate the
      shariah compliance status of investment products and services across the global financial markets. Our aim is to provide
      retail and institutional investors a real time evaluation of shariah compliance to assist them in investing responsibily
      ad ethically.</p>
  </div>
</div>


<div class="container" style="height:500px">
</div>