.sh-in-banner{
    background-image: url('../../../assets/sh-in.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px
}
.why-container{
margin-top: 200px
}
.why_div_left,.why_div_right{
    padding:30px;
    margin: 100px 0px 20px 0px;
}



div.why-ctnr{
   padding: 0px 50px 0px 50px;
   margin:100px 0px 100px 0px;
  
}

div.why-content,div.why-image{
    height: 520px;
    margin:20px 0px 20px 0px;
    padding:100px 80px 100px 80px;
    background: white
}

div.why-image{
    z-index:-2
}
.no-margin-h1{
    margin:0px;
    padding:20px
}

div.center-wrapper{
    padding: 0px 50px 0px 50px;
    margin: 100px 0px 100px 0px
}
div.center-col-left{
    padding: 0px;
    
    position: relative
}
div.center-inner-absolute{
    position: absolute;
    top:60px;
    left:50px
}
div.center-col-right{
    height:355px
}
.center-col-right{
    border: 10px solid #dcedcb;
    border-left:none;
    padding:50px 40px 0px 40px;
   
}

.ethics-img{
     width:100%

}


div.solution-div{
    background-image: url('./resources/solution-bg.jpg');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat
}








  @media only screen and (max-width : 768px) {
div.why-ctnr-1{
   padding-left: 40px;
   padding-right: 40px;
}


    }