.banner{
    position: relative;
    background-image: url('../../../assets/how-it-works.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px
}
.bannerOverlay{
 position: absolute;
 width: 100%;
 height: 400px;
 
}

.banner-heading{
    color:black;
    
}
.banner-content{
    position:relative;
    margin:auto;
    top: 120px;
}
.panel{
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2)
}
.panel-heading{
    background:#dcedcb;
}
.panelHeading{
    padding: 0px;
    margin: 0px auto;
}

.discover-wrap,.evaluate-wrap{
    max-width:700px
}
.discover-h1,.evaluate-h1{
    margin: 150px auto;
    
}
div#fee-container{
    background-image: url('./resources/fee-bg.jpg');
    border-top:50px solid #252D1D;
    border-bottom:50px solid #252D1D;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.fee{
    background: #dcedcb;
    padding: 20px 30px;
    border: 1px solid #dcedcb;
    border-radius: 10px
}
