<div id="process" class="banner">
  <div class="bannerOverlay">
    <!-- dark overlay-->
  </div>
  <div class="container-fluid banner-content">
    <h1 class="banner-heading text-center">How it works</h1>
  </div>
</div>
<!--DISCOVER -->
<div id="discover" class="container discover-wrap text-center ">
  <h1 class="discover-h1 animated fadeInLeft "><span style="font-size:2em">Discover</span> the sharia compliant companies to invest by getting correct information, it
    is that easy.
  </h1>
  <hr class="hr-lightGreen">
</div>
<!--EVALUATE -->
<div id="evaluate" class="container evaluate-wrap text-center">
  <h1 class="evaluate-h1"><span style="font-size:2em">Evaluate</span> the financial structure and other parameters using our tool by getting instant
    results.
  </h1>
  <hr class="hr-lightGreen">
</div>
<app-showdata (companySend)="renderCompanyReceived($event)"></app-showdata>
<app-companyresults *ngIf="showResults === true" [company]="company"></app-companyresults>
<!--   RESULTS DATA and OTHER COMPANY ORIENTED DATA -->
<!--
<div *ngIf="showResults === true && !company.status;then showCompanyFound"></div>
<ng-template #showCompanyFound>
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panelHeading text-center">{{company.company_name.toUpperCase()}}</h4>
          </div>
          <div class="panel-body">
            <span style="color:#7fc31b" *ngIf="company.iscompliant=== 'yes';else showNotCompliant">
              <h4 class="text-center"><span class="fa fa-check color-success" style="margin-right:10px"></span>            Company is sharia compliant</h4>
            </span>

         
            <ng-template #showNotCompliant>
              <div *ngIf="company.nComPar[0] === 'Industry not compliant';else otherMatrices">
                <h4 class="text-center"><span class="glyphicon glyphicon-remove">
                  </span> Company not sharia compliant because of
                  <strong stye="font-size:1.5em">business
                  </strong> type</h4>
              </div>
              <ng-template #otherMatrices>
                <h4 class="text-center"><span class="glyphicon glyphicon-remove">
                  </span> Company is not Sharia compliant because of <strong class="text-danger">Financial</strong> structuring</h4>
                
                
                  <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title text-center">
                        <a data-toggle="collapse" href="#collapse1">Know more</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" style="margin-top:30px;margin-bottom:30px">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of company.nComPar ">{{item}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
      

      <div class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top:20px">
        <div class="panel panel-default">
          <div class="panel-heading orangePanelHeading">
            <h4 class="panelHeading text-center">BSE:{{company.bse}}</h4>
          </div>
          <div class="panel-body">
          <h4 *ngFor="let item of company.goofin">{{item}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="showResults === true && company.status;then noCompanyFound"></div>
<ng-template #noCompanyFound>
  <div class="container text-center text-black">
    <div class="col-md-8 col-md-offset-2">
      <div class="well well-sucess" style="background: #eee">
        <h2>{{company.status}}</h2>
      </div>
    </div>
  </div>
</ng-template>-->
<br/><br/>
<h1 id="fee" class="text-center" style="margin-top: 200px">OUR FEE</h1>
<div id="fee-container" class="container-fluid text-center text-black">
  <div class="row" style="margin-top:100px">
    <div class="col-xs-12 col-md-4 col-md-offset-4 fee">
      <h1>No Fee!</h1>
      <h3>All services free of cost!</h3>
    </div>
  </div>
</div>
<div style="height:400px">
</div>