<div class="container">
  <div class="container">
    <form style="max-width:600px;margin:auto" (submit)="checkCompliance(companyInput)" class="form-inline" ngNativeValidate>
      <div class="container-fluid text-center">
        <div class="form-group">
          <br/>
          <p #iagreePara>*It is just an advisory tool to facilitate Sharia compliant investment and we bear no responsibility for the information
            available on the website.
          </p>
          <input type="checkbox"  (change)="activate_input()" #iagree value="I agree"> I agree<br/>
          <h3 class="text-dull">Evaluate</h3>
          <input type="text" #companyInput [(ngModel)]="typed" list="datalist" (keyup)="getSugesstions($event)" autocomplete="off"
            name="companyNameInput" class="form-control" placeholder="enter company name" [disabled]="disbleState" id="company"
            required>

          <datalist id="datalist">

          </datalist>
          <button type="submit" class="btn flat-button primary-dark text-white" [disabled]="disbleState" name="submitbutton">Submit</button>
        </div>

      </div>
    </form>
  </div>
  <div *ngIf="loading === true" class="container text-center">
    <img style="margin:auto;height:50px" class="img-responsive" src="assets/product/loading.gif">
    <h5>Loading results...</h5>
  </div>
</div>
<br>
<br>