<app-header (linkComponent)="setLinkApp($event)"></app-header>
<router-outlet></router-outlet>
<!--<app-home *ngIf="linkApp === 'home'"></app-home>
<app-howitworks *ngIf="linkApp === 'howitworks'"></app-howitworks>-->
<app-footer></app-footer>