<div class="container">
  <form (submit)="checkCompliance(string)" ngNativeValidate>
    <input type="text" [(ngModel)]="string" name="company-input" class="form-control" required>
    <button type="submit"  class="btn btn-primary">check</button>
  </form>

</div>
<p *ngIf="valueset === true">{{company.iscompliant}}</p>