.welcome-head h2{
    
        font-family: 'Century Gothic','Verdana'
    }
    
    .Outer{
     margin:40px auto;
     
    }

   

    @media screen and (max-width:768px){

.normal-para-wrapper,inner,Outer{
    padding:0px;
    font-size:0.8em;
    text-align:justify
}
h2{
    font-size:1.5em;
    font-weight:bold
}
    }        