<div class="container Outer" >
  <div class="container-fluid inner welcome-head text-dull text-center" >
    <div class="container" >
      <h2>Simple . Data driven . Free of cost</h2>
    </div>
    <br>
    <br>
    <div class="col-md-12 normal-para-wrapper" >
      <p class="normal-para">A product, targeted towards any individual looking to invest, to recommend a Sharia compliant portfolio.  The website gives the sharia compliance status of publicly listed
        companies which would also come in handy for wealth managers/ fund managers/ corporate banks while designing a sharia
        compliant portfolio.
      </p>
    </div>
  </div>
  <hr style="border-top: 3px solid #E8E8E8">
 
</div>