.banner{
    position: relative;
    background-image: url('resources/home-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    min-height: 450px
}
.banner-overlay{
 position: absolute;
 width: 100%;
 height: 450px;
 
}
.banner-content{
    text-align: center;
    position: absolute;
    top: 110px;
    width: 100%;
}
.banner-heading{
    color:black;
}
.cont-wrapper{
    max-width: 600px;
    margin:auto;
    padding:20px;
    background: rgba(255,255,255,0.5);
    border: 5px solid transparent;
    border-radius: 10px;
    
}
p.cont-para{
    font-size: 1.2em;
    color: black
}

p#p-ourprocess{
    font-size:1.4em
}

#round-btn{
padding:10px 30px;
border: none;
border-radius: 30px;
transition: background .3s, color .3s  ;
-webkit-transition: background .3s, color .3s  ;
-moz-transition: background .3s,color .3s ;
-o-transition: background .3s, color .3s   ;
}
#round-btn:hover{
    background : #A3C710;
    color: white
    
    }

.featureBackground{
   
   
    background-attachment: fixed
}

.rowWrapper{
    width:100%;
}
.absoluteRow{
    margin-top:50px
}
.features{
    height: 350px;
    width:250px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 8px 8px rgba(0,0,0,0.2);
    margin: auto;
    margin-bottom:50px;
 
}
.features h5{
   padding: 10px ;
   color:#72A716;
   background: rgba(0,0,0,0.7);
   border-bottom: 4px solid #72A716;
   
}




.our-process-btn:hover,.our-process-btn:focus{
color: white
}

@media screen and (max-width:768px){
    .yldr-right{
        margin-bottom: 20px
    }
    .cont-wrapper h1{
font-size:1.4em
    }
    .banner-content{
        top: 70px;  
    }
    p#p-ourprocess{
        font-size:1.2em;
        text-align: justify
    }
}