<!-- Banner  -->

<div id="home" class="banner">
    <div class="banner-overlay">
        <!-- dark overlay-->
    </div>
    <div class="container banner-content">
        <div class="cont-wrapper">
            <h1 class="text-dull">LOOKING FOR A SHARIA COMPLIANT STOCK TO INVEST?</h1>
            <h1 class="text-dull">YOU ARE AT THE RIGHT PLACE</h1>
            <p class="cont-para text-dull"> We believe Islamic Banking can play a big role in addressing the unserved populations across the globe</p>
            <!--<button routerLink="about-us" id="round-btn" class="btn btn-default flat-button">Know more</button>-->
        </div>
    </div>
</div>
<div style="background:white">
    <app-showdata (companySend)="renderCompanyReceived($event)"></app-showdata>
</div>
<br/>
<br/>
<app-companyresults *ngIf="showResults === true" [company]="company"></app-companyresults>
<app-welcomecontent></app-welcomecontent>
<app-contentcarousel></app-contentcarousel>


<br>
<br>

<!--  Our Process  -->

<div class="container-fluid" style="background: #dcedcb">
    <div class="row">
        <h2 class="text-center text-milky" style="background: #252D1D;margin:0;padding:20px;">Our Process</h2>
    </div>
    <div class="row">
        <!--   <div class="container" style="padding:20px">
            <div class="row text-center">
                <div class="col-md-4 welcome-sub-head">
                    <img style="height: 200px;" src="../../../../assets/vision.png" alt="vision" />
                    <h3>VISION</h3>
                    <p class="text-justify">Our vision is to bring financial inclusion to all parts of the populations, and here we think Islamic
                        banking/ESG can play a big role in addressing the unserved populations across the globe.We want to
                        bring transparency and democratization in the field through the use of technology.Being really optimistic
                        about fin-tech in Islamic banking, we believe that all the disruption that is happening in conventional
                        banking, be it payment processes, lending or crowd funding etc. will also happen in the Islamic banking/ESG.
                        Some developments are showing up, but growth and adoptions are slower compared to conventional banking.</p>
                </div>
                <div class="col-md-4 welcome-sub-head">
                    <img style="height: 200px;" src="../../../../assets/why.png" alt="why" />
                    <h3>WHY?</h3>
                    <p class="text-justify">Everyday billions of rupees are invested into financial markets. It includes money in your pension fund,
                        saving accounts etc. This money is invested without taking into consideration your ethical and religious
                        commitments. At Aine.com we provide financial advisory on how to align your investments with your
                        ethical principles. We believe that the Islamic sharia principles offer a strong and adequate framework
                        for evaluating the ethical considerations of investing. Sharia Principles promote an investment paradigm
                        based on the fundamentals of justice and fairness resulting in promotion of businesses with ethical,
                        social and environmental responsibility and accountability.</p>
                </div>
                <div class="col-md-4 welcome-sub-head">
                    <img style="height: 200px;" src="../../../../assets/problem.png" alt="problem" />
                    <h3>PROBLEM</h3>
                    <p class="text-justify">The Sharia Investment paradigm provides a robust and effective ways to assess the ethical nature of our
                        investments. However, validating for sharia compliance is difficult. Generally, there are sharia
                        compliance boards in Investment companies and governments which provide a static list of sharia compliant
                        investment options. However, the breakneck speed at which the businesses transact, the globalised
                        nature of capital and the disaggregation of supply chains have made these static lists ineffective.
                        We at Aine.com resolve this by providing a financial advisory evaluation tool that validates sharia
                        compliance in real time.</p>
                </div>
            </div>
        </div>-->
        <div class="container  text-center text-dull">    
            <p id="p-ourprocess" style="padding:30px 30px">All you have to do is type for the company name in the search box , the system using advanced real time data
                analytics and machine learning ,validate the sharia compliance status of a company with an in-depth information
                on the financial results of the company.</p>
            </div>
        <div id="contact" class="col-md-12 text-center" style="margin:20px auto">
            <button routerLink="how-it-works" (click)="scroll(0,0)" class="btn flat-button primary-dark text-white our-process-btn">Know more ></button>
        </div>
    </div>

</div>





<!--    contact -->
<app-contact></app-contact>