<div class="container" style="margin:50px auto">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="contact-heading">Contact</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h4>For any queries write to us.</h4>
      <form class="contact-form" style="width:300px" ngNativeValidate>
        <input type="text" class="form-control custom-control " name="name" placeholder="your name*">
        <input type="email" class="form-control custom-control " name="email" placeholder="enter email*" required>
        <input type="text" class="form-control custom-control" name="subject" placeholder="subject*" required>
        <textarea class="form-control" required></textarea>
        <br>
        <button type="submit" class="btn flat-button primary-dark">submit</button>
      </form>
    </div>
    <div class="col-sm-12 col-md-6 contact-icons">
      <div style="margin-bottom: 20px">
        <span class="fa fa-phone fa-2x text-dark"><h4 class="text-dull" style="display:inline-block;padding-left:20px">+91-9045888880</h4 ></span>
      </div>
      <div  style="margin-bottom: 20px" style="margin-bottom: 20px">
        <span class="fa fa-envelope fa-2x text-dark"></span><h4 class="text-dull" style="display:inline-block;padding-left:20px">email@somewebmail.com</h4 >
      </div>
      <div >
        <span class="fa fa-map fa-2x text-dark"></span><h4  class="text-dull" style="display:inline-block;padding-left:20px">4/1175-k, Main road, XYZ Colony, New Delhi, India</h4 >
      </div>

    </div>
  </div>
</div>