.contact-heading{
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 3px solid #252D1D;
    padding-bottom: 10px
}

.contact-form input{
    margin-bottom: 10px
}

button{
    color:white
}
button:hover{
    color:white
}
button:focus{
  color:white
}

