
* {
    font-family: 'Century Gothic','Verdana','arial';
}
/*---------------==========   Accent color ==============----*/
.accent{
    background: #28360d;
    background-color: #28360d;
}
.accent-bg{
    background: #28360d;
}
.accent-bgc{
    background-color: #28360d;
}

/*---------------==========   Background color ==============----*/

.primary-dark{
    background: #252D1D;
    background-color: #252D1D;

}
.primary-bg{
    background: #252D1D;
}
.primary-bgc{
    background-color: #252D1D;
}
/*---------------==========   text color ==============----*/

.text-green{
    color: #72A716;
}
.text-dark{
    color: #435916;
}
.text-white{
    color: white;
    
}
.text-black{
    color: black
}
.text-dull{
    color:#535353
}
.text-milky{
    color:#cfcfcf
}

.banner-heading{
    font-size: 5em;
}
.big-heading{
    font-size: 3.5em;
    color:black
}
.big-para{
    font-size:2em;
}
.normal-para{
    font-size: 1.5em;
}
/*  =============================  BUTTONS  ====================*/
.clr-btn-brdr{
    border: 3px solid rgba(255,255,255,0.3);
    background: transparent;
    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;  
}
.clr-btn-brdr:hover{
    
    color: #F0F0F0;
    box-shadow: 0px 0px 8px rgba(0,0,0,1)
   
}

.flat-button{
    border-radius:0px;
    margin:5px;
    box-shadow: none
}
.button-green{
background: #72A716;
border: 1px solid #72A716
}
.button-green:hover{
    background: white;
    border: 1px solid #72A716;
    color:#72A716;
}


.hr-lightGreen{
    border-bottom:2px solid #dcedcb
}

.cursor{
    cursor:pointer;
}