<div class="about-us-banner" [ngStyle]="{'background-position-y': bgPosition}">
  <div class="container wrapper-heading text-center">
    <h1 class="banner-heading">About Us</h1>
  </div>
</div>
<!--


<div class="container">
  <div class="row">
    <div  id="vision" class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top:50px">
      <div  class="col-md-12 stacked" style="background:#dcedcb;margin-bottom:10px">
        <h3>VISION</h3>
        <p>Our vision is to bring financial inclusion to all parts of the populations, and here we think Islamic banking/ESG
          can play a big role in addressing the unserved populations across the globe.We want to bring transparency and democratization
          in the field through the use of technology.Being really optimistic about fin-tech in Islamic banking, we believe
          that all the disruption that is happening in conventional banking, be it payment processes, lending or crowd funding
          etc. will also happen in the Islamic banking/ESG. Some developments are showing up, but growth and adoptions are
          slower compared to conventional banking.
        </p>
      </div>
      
        <div class="col-md-12 text-white stacked" style="background: #252D1D;border-bottom: 10px solid white">
          <h3>WHY?</h3>
          <p class="text-justify">Everyday billions of rupees are invested into financial markets. It includes money in your pension fund, saving
            accounts etc. This money is invested without taking into consideration your ethical and religious commitments.
            At Aine.com we provide financial advisory on how to align your investments with your ethical principles. We believe
            that the Islamic sharia principles offer a strong and adequate framework for evaluating the ethical considerations
            of investing. Sharia Principles promote an investment paradigm based on the fundamentals of justice and fairness
            resulting in promotion of businesses with ethical, social and environmental responsibility and accountability.

          </p>
        </div>
        <div id="services" class="col-md-12 text-white stacked" style="background: #252D1D;border-bottom: 10px solid white;">
          <h3>PROBLEM</h3>
          <p class="text-justify">The Sharia Investment paradigm provides a robust and effective ways to assess the ethical nature of our investments.
            However, validating for sharia compliance is difficult. Generally, there are sharia compliance boards in Investment
            companies and governments which provide a static list of sharia compliant investment options. However, the breakneck
            speed at which the businesses transact, the globalised nature of capital and the disaggregation of supply chains
            have made these static lists ineffective. We at Aine.com resolve this by providing a financial advisory evaluation
            tool that validates sharia compliance in real time.
          </p>
        </div>
        
    </div>
  </div>
</div>
-->

<div class="container vision-logo">
  <div class="col-md-4 col-md-offset-4">
    <img class="img-responsive" style="max-height:200px;margin:auto" src="assets/aboutus/vision-logo.png">
  </div>
  <div class="col-xs-12 col-md-8 col-md-offset-2  text-center text-black">
    <hr>
    <h1 style="margin:30px 0px 30px 0px">Our vision is to bring financial inclusion to all parts of the populations.</h1>
    <hr>
  </div>
</div>

<div class="container-fluid" style="margin:100px 0px 0px 0px">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" style="max-height:450px" src="assets/aboutus/sharia_compliant_bg.png">
    </div>
    <div class="col-xs-12 col-md-6 text-center text-black">
      <p class="big-para" style="margin-top:100px">and here we think Islamic banking/ESG <br/>can play a big role in addressing the unserved populations across
        the globe.</p>
    </div>
  </div>
</div>


<div class="container-fluid" style="margin:100px 0px 0px 0px">
  <div class="row">
    <div class="col-xs-12 col-md-6 text-center text-black">
      <p class="big-para" style="margin-top:100px">This can be achieved by bringing transparency and democratization in the field through the use<br/> of technology.</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" style="max-height:450px" src="assets/aboutus/transparency.png">
    </div>
  </div>
</div>



<div class="container-fluid" style="margin-top:100px;background:#252D1D">
  <div class="col-md-8 col-md-offset-2 text-white text-center text-justify">
    <p class="normal-para" style="margin:30px 0px 30px 0px">
      Being really optimistic about fin-tech in Islamic banking, AINE.com believes that all the disruption that is happening in conventional
      banking, be it payment processes, lending or crowd funding etc. will also happen in the Islamic banking/ESG. Some developments
      are showing up, but growth and adoptions are slower compared to conventional banking.
    </p>
  </div>
</div>



<!--  WHY -->

<div class="container why-logo">
  <div class="col-md-4 col-md-offset-4">
    <img class="img-responsive" style="max-height:200px;margin:auto" src="assets/aboutus/why-logo.png">
  </div>

  <div class="col-xs-12 col-md-8 col-md-offset-2  text-center text-black">
    <hr>
    <h1 style="margin:30px 0px 30px 0px">The ethical and religious commitments are severed or ignored, while investing money.</h1>
    <hr>
  </div>
</div>


<div class="container-fluid" style="margin:100px 0px 0px 0px">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" style="max-height:450px" src="assets/aboutus/sharia_compliant_bg.png">
    </div>
    <div class="col-xs-12 col-md-6 text-center text-black">
      <h2 style="margin-top:100px">-and here we think Islamic banking/ESG <br/>can play a big role in addressing<br/> the unserved populations<br/> across
        the globe.</h2>
    </div>
  </div>
</div>

<div class="our-story">

</div>