.about-us-banner{
height: 400px;
position: relative;
background-image: url('./resources/about-us-banner-img.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position-y: -200px


}
.about-us-banner:before {
    content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(127, 127, 127, 0);
	background-image: radial-gradient(black 24%, transparent 25%);
    background-size: 3px 3px;
}

.wrapper-heading{
    position: absolute;
    width: 100%;
    margin-top:170px
}
.banner-heading{
color: #282828
}

.stacked{
    padding: 15px 30px
}
@media screen and (max-width:768px){
    
    .banner-heading{
        font-size: 3.5em;
        color: #DCDCDC;
       
        }
        .about-us-banner{
            background-image: url('./resources/banner-small.jpg');
            background-position-y: 0px
        }  
}
